	A:link { text-decoration: none; color:rgb(0,0,128) }
	A:visited { text-decoration: none; color:rgb(0,0,128) }
	A:hover { text-decoration: none; color:rgb(128,0,0) }

body, table, td, th{
Font-Family : sans-serif;
Font-Size : 15px;
}

.r {text-align: right}
.blue {color: #0000FF;}
td {vertical-align: top; text-align: left}
.c {text-align: center}
table.s {
	border-collapse:collapse;
	border-width: 1px;
}
table.s td{
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: gray;
}
table.t {
	border-collapse: collapse;
	border-width: 0px;
}
table.t td{
	border-width: 0px;
	padding: 4px;
	border-style: solid;
	border-color: gray;
}
.dots {
    background:url('./images/dot.gif') repeat-x center;
}
.field {
    background-color: #FFFFFF;
}

.sHdr {   /* Session header Content list */
   background-color: #b8c0c8;
}
      
table.trk { /* Track table Content list */
   border-collapse: collapse;
   border-width: 0px;
   margin: auto;
   width: 80%;
}
table.trk td{
   border-width: 0px;
   padding: 4px;
   border-style: solid;
   border-color: gray;
 }
      
.pHdr {  /* Paper header Content list */
   background-color: #e6ddda;
   color: black;
}
      
.pTtl {  /* Paper title Content list */
   font-size: 16px;
   font-style: italic;
}

table.lT {  /* Letter table author index */
	        border-collapse: collapse;
	        border-width: 0px;
	        width: 80%;
	        margin: auto;
         }
table.lT td{
	        border-width: 0px;
	        padding: 1px;
	        border-style: solid;
	        border-color: gray;
         }
table.cc td{
			text-align:center;
			vertical-align:middle;
         }
.lHdr {  /* Letter header author index */
            background-color: #808080; color: #ffffff;
            line-height: 1.5em;
         }

table.kT {   /* Keyword index table */
	        border-collapse: collapse;
	        border-width: 0px;
	        width: 100%;
         }
table.kT td{
	        border-width: 0px;
	        padding: 4px;
	        border-style: solid;
	        border-color: gray;
          }
      
.lHdr { /* Letter header keyword index */
            background-color: #808080;  color: #ffffff;
            line-height: 1.5em;
         }

table.dayB {  /* Day table Program at a glance B */
	     border-collapse: separate;
	     border-width: 1px;
	     margin: auto;
	     width: 80%;
      }
table.dayB td{
	     border-width: 1px;
	     padding: 2px;
	     border-style: solid;
	     border-color: gray;
      }
   
.dHd { /* Day header Program at a Glance B */
         background-color: black; 
         color: white;
         text-align: center;
		 width: 80%;
      }
   
.tHdr { /* Track header row Program at a Glance B */
         /* background-color: #b6d2ea */
		 background-color: #808080;  color: #ffffff;
      }

hr {  /* HR */
		border: 0;
		color: #354173;
		background-color: #354173;
		height: 2px;
		position: relative;
}

h1, h2, h3, h4, h5, h6 {
 font-family: Arial, Helvetica, sans-serif; color: #ffffff; margin-bottom: 5px; margin-top: 5px;
 }
 h1 {font-size: 1.8em; text-align: left; font-weight:bold; font-style: normal; margin-bottom: 5px; margin-top: 5px; color:#000000;}
 h1.one {font-size: 24px; text-align: center; font-weight:bold; font-style: normal; margin-bottom: 5px; margin-top: 5px; color:#000000;}
 h2.grad { font-size: 1.6em; font-weight:bold; text-align: left; color: #354173;
	margin-bottom: 5px; margin-top: 5px; margin-left: -15px;
    background-image: -moz-linear-gradient(left,#ffffff,#ffffff 75%,#ffffff);
    background-image: -ms-linear-gradient(left,#ffffff,#ffffff 75%,#ffffff);
    background-image: -o-linear-gradient(left,#ffffff,#ffffff 75%,#ffffff);
    background-image: -webkit-linear-gradient(left,#ffffff,#ffffff 75%,#ffffff);}
 h2.one {font-size: 1.6em; color:#888888; text-align: left; font-weight:bold; text-align: left; font-variant:small-caps;
	border-style:none none solid solid; border-bottom-width:3px; border-left-width:8px;
	border-top-width:3px; border-right-width:3px; border-color:#ffaa11; padding:8px; margin-left: -15px;
	border-bottom-left-radius:0.5em; border-top-right-radius:0.5em; padding:8px; opacity:1.0;}
 h3.one {font-size: 1.2em; text-align: left; font-weight:bold; font-style: italic; color:#888888;
	border-style:none none solid none; margin-bottom: 3px; border-bottom-width:1px; margin-top: 0px; border-color:#ffaa11;}
 h3.two {font-size: 1em; text-align: left; font-weight:bold; font-style: normal; color:#000000;
	border-style:none none solid none; margin-bottom: 1px; border-bottom-width:1px; margin-top: 0px; border-color:#ffaa11;}
 h4 {font-size: 1.1em; text-align: left; font-style: italic; color: #888888; padding-top: 15px; padding-bottom: 0px;}
 h5 {font-size: 1.0em; text-align: left; font-weight:bold; font-style: italic; color: #31789b; margin-bottom: 5px; margin-top: 5px;}
 h6 {font-size: 1.6em; font-weight:bold; text-align: left; color: #ffffff;
	margin-bottom: 5px; margin-top: 5px; margin-left: -15px;
    background-image: -moz-linear-gradient(left,#808080,#c0c0c0 75%,#808080);
    background-image: -ms-linear-gradient(left,#808080,#c0c0c0 75%,#808080);
    background-image: -o-linear-gradient(left,#808080,#c0c0c0 75%,#808080);
    background-image: -webkit-linear-gradient(left,#808080,#c0c0c0 75%,#808080);}
